@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}
h1,
.form,
.table {
  max-width: 50rem;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 100;
}
.table {
  max-width: 100rem;
}
.success,
.error {
  max-width: 20rem;
  text-align: center;
  padding: 6px;
  margin: 5px 0 15px 0;
  border-radius: 50px;
  margin-left: 17rem;
}
.success {
  background-color: #08ff08;
  color: #000;
}
.error {
  background-color: #e10600;
  color: #fff;
}
.delete {
  text-decoration: none;
}
#title,
#address,
#date,
#time {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 50px;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
#submit {
  background: rgb(0, 20, 42);
  color: #fff;
  font-weight: 100;
  font-size: 1.5rem;
  border-radius: 50px;
  margin-top: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
#submit:hover {
  background: rgb(0, 123, 254);
  color: #000;
}
